# Nalar Protocol Security API URL
# Development: http://localhost:3001
# Production: https://usenalar.xyz
NEXT_PUBLIC_API_URL=https://nalar-protocol.vercel.app/

# Nalar Editions: 888 NFTs, BNB Testnet only (Chain ID 97)
NEXT_PUBLIC_DEMO_NFT_ADDRESS=0xD88C0157ad7ca50c6E423DADBAfB83b4d8ae13bf
NEXT_PUBLIC_DEMO_MINT_TRAP_ADDRESS=0x58a142Dc12Cf8D6a3681D71747Da2fBf3C02e3c6
